.DS_Store
node_modules
/build
/package
.env
.env.*
.svelte-kit
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
